<html ng-app="SmartTower">
<head>
  <meta charset="utf8" />
  <title>Smart Tower</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

  
<!-- Adding the ng-app declaration to initialize AngularJS -->
  <!-- The navigation menu will get the value of the "active" variable as a class.
     The $event.preventDefault() stops the page from jumping when a link is clicked. -->

  <nav class="{{active}}" >
    <!-- When a link in the menu is clicked, we set the active variable -->

    <a href="#" class="home" ng-click="active='Home'">Home</a>
    <a href="#/network" class="networks" ng-click="active='network Settings'">Network</a>
    <a href="#/weather" class="waether" ng-click="active='waether forecast'">waether</a>
    <a href="#/hue" class="hue" ng-click="active='Hue Control'">Hue</a>
  </nav>

    
  <!-- ng-show will show an element if the value in the quotes is truthful,
     while ng-hide does the opposite. Because the active variable is not set
     initially, this will cause the first paragraph to be visible.
-->
  <p ng-hide="active">Please click a menu item</p>
  <p ng-show="active"> <b>{{active}}</b>
    <div ng-view></div>
  </div>
  <script src="app.js"></script>
</body>
</html>