
 <div class="jumbotron">
        <h2>The smart solution of tower illumination</h2>
         <p><a class="btn btn-lg btn-success" href="#/devices" role="button">Try it!</a></p>
      </div>
<div class="row marketing">
        <div class="col-lg-6">
          <h4 ><a href="https://angularjs.org/">Angular as Front-end</a></h4>
          <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop. </p>

          <h4><a href="http://www.zigbee.org/">ZigBee as wireless standard</a></h4>
          <p>ZigBee is the only open, global wireless standard to provide the foundation for the Internet of Things by enabling simple and smart objects to work together, improving comfort and efficiency in everyday life. </p>

          <h4> <a href="http://nodejs.org/">Node.js as RESTful server</a></h4>
          <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices</p>
        </div>

        <div class="col-lg-6">
          <h4 > <a href="http://wiringpi.com/"> WiringPi as driver library</a></h4>
          <p>WiringPi is a GPIO access library written in C for the BCM2835 used in the Raspberry Pi. It’s released under the GNU LGPLv3 license and is usable from C and C++ and many other languages with suitable wrappers</p>

          <h4><a href="http://www.raspberrypi.org/">Raspberry PI as platform</a></h4>
          <p>The Raspberry Pi is a low cost, credit-card sized computer that plugs into a computer monitor or TV, and uses a standard keyboard and mouse. It is a capable little device that enables people of all ages to explore computing, and to learn how to program in languages like Scratch and Python. It’s capable of doing everything you’d expect a desktop computer to do, from browsing the internet and playing high-definition video, to making spreadsheets, word-processing, and playing games.</p>

          <h4><a href="http://openweathermap.org/">Openweathermap as forecast provider</a></h4>
          <p>The easiest, most advanced, weather API on the web The aim of this module is to provide a common API for multiple weather providers and to return the results as a normalized Object</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Robert Bosch GmbH (2015)</p>
      </div>
