<!--Body content-->
 <div  ng-controller="HueListCtrl">
     <div class="container">

<h3>Joined Devices</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Endpoint</th>
      <th>Device ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hue in hues">
      <td>{{ hue.nodeid }}</td>
      <td>{{ hue.endpoint }}</td>
      <td>{{ hue.deviceid }}</td>
    </tr>
  </tbody>
</table>
 </div>
 <br>
      	<h2>Change Hue state:</h2>
        <button type="button" class="btn btn-success">ON </button>
        <button type="button" class="btn btn-danger">OFF</button>
   </br>
  </div>
