<!--Body content-->
 <div  ng-controller="HueListCtrl">
     <div class="container">

<div ng-hide="hues" class="ng-hide">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hint</h3>
  </div>
  <div class="panel-body">
    No devices connected to Network. Open the network and join devices.
    <div>
      <button type="button" class="btn btn-info" ng-click="openNetwork()">Open Network </button>
    </div>
  </div>
  </div>

</div>

<div class="panel panel-default" ng-show="hues">
  <div class="panel-heading">Joined Devices</div>
  <div class="panel-body">
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Endpoint</th>
      <th>Device ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hue in hues">
      <td>{{ hue.nodeid }}</td>
      <td>{{ hue.endpoint }}</td>
      <td>{{ hue.deviceid }}</td>
    </tr>
  </tbody>
</table>
 </div>
  </div>
<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Change State of Hue</h3>
  </div>
  
<div ng-controller="SendHueStateCtrl" >
   <div class="row" >
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
         <input type="text" class="form-control" placeholder="Noide ID" ng-model="network.nodeid">
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Endpoint" ng-model="network.endpoint">
       <pre>master = {{nodeid }}</pre>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 
</div><!-- /.row -->

<br>
  <button type="button" class="btn btn-success" ng-click="takeOn(network)">ON </button>
  <button type="button" class="btn btn-danger" ng-click="takeOff(network)">Off </button>
  <br ng-hide="state"> 
     <p ng-show="state"> Take hue {{state}} !</p>
  </br>
</br>
</div>
</div>
</div>
</div>
</div>
