<!--Body content-->
 <div  ng-controller="HueListCtrl">
     <div class="container">

<div ng-hide="hues" class="ng-hide" ng-Controller="SendHueStateCtrl">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hint</h3>
  </div>
  <div class="panel-body">
    No devices connected to Network. Open the network and join devices.
    <div>
      <button type="button" class="btn btn-info" ng-click="openNetwork()">Open Network </button>
    </div>
  </div>
  </div>

</div>

<div class="panel panel-default" ng-show="hues">
  <div class="panel-heading">Joined Devices</div>
  <div class="panel-body">
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Endpoint</th>
      <th>Device ID</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hue in hues">
      <td>{{ hue.nodeid }}</td>
      <td>{{ hue.endpoint }}</td>
      <td>{{ hue.deviceid }}</td>
    </tr>
  </tbody>
</table>
 </div>
  </div>
<div class="panel panel-default" ng-show="hues" >
  <div class="panel-heading">
    <h3 class="panel-title">Change State of Device</h3>
  </div>
  <div class="panel-body">

<p>Control Device</p> <div ng-controller="SendHueStateCtrl" >
   <div class="row" >
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
         <input type="text" class="form-control" placeholder="Noide ID" ng-model="network.nodeid">
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Endpoint" ng-model="network.endpoint">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
   <div>
 <button type="button" class="btn btn-success" ng-click="takeOn(network)">ON </button>
  <button type="button" class="btn btn-danger" ng-click="takeOff(network)">Off </button>
</div>
  </div><!-- /.row -->

  <br>
  <p>Control Group<p> <div ng-controller="SendToGroupCtrl" >
   <div class="row" >
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
         <input type="text" class="form-control" placeholder="Noide ID" ng-model="network.nodeid">
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Endpoint" ng-model="network.endpoint">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <button type="button" class="btn btn-success" ng-click="takeOn(network)">Group on </button>
  <button type="button" class="btn btn-danger" ng-click="takeOff(network)">Group off </button> 
  </div><!-- /.row -->
</br>

<br>
  <p>Add Device to Group<p> <div ng-controller="AddToGroupCtrl" >
   <div class="row" >
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
         <input type="text" class="form-control" placeholder="Noide ID" ng-model="network.nodeid">
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Endpoint" ng-model="network.endpoint">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Groupid" ng-model="network.groupid">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group">
     <input type="text" class="form-control" placeholder="Group Name" ng-model="network.groupname">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <button type="button" class="btn btn-info" ng-click="takeOn(network)">Add Group an Target </button>
  </div><!-- /.row -->
</br>

  <br ng-hide="state"> 
  
</br>
</div>
</div>
</div>
<!--
<div class="panel panel-default" ng-show="hues">
  <div class="panel-heading">Grouping Devices</div>
  <div class="panel-body">
    Panel content
  </div>
</div>-->

