<div  ng-controller="WeatherCtl">
<div class="panel panel-default">
  <div class="panel-heading"><p>Current weather data for {{weather.name}} </p> </div>
</div>
<div id="grid" data-columns>
	<div class="column size-1of3">
		 <a href="#/weather" class="thumbnail" ng-click="current()">
		 		<div>
			<p>Current Weather</p>
		</div>
		<div ><h3>{{weather.weather[0].description}}</h3></div>
		 <div >Windspeed: {{weatherspeed}} km/h</div>
		 <div >Cloudy: {{weatherCloudsProcent}}%</div>
		 	<a>
	</div>
	<div class="column size-1of3">
		<a href="#/weather" class="thumbnail" ng-click="tomorrow()">
		<div><p>Tomorrow Forecast</p></div>
		<div> <h3>{{forecastDescription}}</h3></div>
		<div>Temperature: {{forecastDaily}} °</div>
		<div>Day: {{forecastDate}}</div>
		 	<a>
	</div>

	<div class="column size-1of3">
		<a href="#/weather" class="thumbnail" ng-click="dt()">
		 <div><p>Day After Tomorrow</p></div>
		 <div> <h3>{{weatherDATDescription}}</h3></div>
		<div>Temperature: {{weatherDATDaily}} °</div>
		<div>Day: {{weatherDATforecastDate}}</div>

		 	<a>
		<div></div>
	<a>
	
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><p>Weather conditons</p> </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('200')">
      <img src="http://openweathermap.org/img/w/11d.png" >
      <div class="caption" align="center">
        <h2>Thunderstorm</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('300')">
      <img src="http://openweathermap.org/img/w/09d.png" >
      <div class="caption" align="center">
        <h2>Drizzle</h2>
      </div>
    </a>
  </div> 
   <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('500')">
      <img src="http://openweathermap.org/img/w/10d.png" >
      <div class="caption" align="center">
        <h2>Rain</h2>
      </div>
    </a>
  </div> 
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('600')">
      <img src="http://openweathermap.org/img/w/13d.png" >
      <div class="caption" align="center">
        <h2>Snow</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('701')">
      <img src="http://openweathermap.org/img/w/50d.png" >
      <div class="caption" align="center">
        <h2>Atmosphere</h2>
      </div>
    </a>
  </div>
 <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('800')">
      <img src="http://openweathermap.org/img/w/03d.png" >
      <div class="caption" align="center" >
        <h2>Clouds</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('900')">
      <img src="http://openweathermap.org/img/w/11d.png" >
      <div class="caption" align="center" >
        <h2>Extreme</h2>
      </div>
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a href="#/weather" class="thumbnail" ng-click="setWeather('951')">
      <img src="http://openweathermap.org/img/w/11d.png" >
      <div class="caption" align="center" >
        <h2>Additional</h2>
      </div>
    </a>
  </div>
</div>
</div>
