<div class="container">
<div class="jumbotron">
     <h2>ZigBee</h2>
 </div>

 <div class="alert alert-success" role="alert"><b>The wireless control market has a number of unique needs for which ZigBee is 
ideally suited, because ZigBee is
 <ul>
  <li>Highly reliable</li>
  <li>Cost-effective</li>
  <li>Able to achieve very low power </li>
  <li>Highly secure</li>
  <li>An open global standard</li>
  <li>Low data rate</li>
</ul></b></div>

 <div class="alert alert-success" role="alert"><b>Based on the IEEE 802.15.4 ZigBee standards of the standard describes the ISO / OSI layers above the data link layer</b></div>
 <div class="alert alert-success" role="alert"><b>ZigBee achieves high reliability in a number of ways: 
	<ul>
	<li>CSMA-CA </li>
	<li>16-bit  CRCs </li>
	<li>Acknowledgments  at  each  hop </li>
	<li>Mesh  networking  to  find  reliable  route </li>
	<li>End-to-end acknowledgments to verify data made it to the destination </b></li>
</ul>
</div>
 <div class="alert alert-success" role="alert"><b>ZigBee enhances reliability through mesh networking, acknowledgments and 
use of the robust IEEE 802.15.4 standard</b></div>
 <div class="alert alert-info" role="alert"><b>ZigBee devices can achieve 5 years on a pair of AA batteries. </b></div>
 <div class="alert alert-info" role="alert"><b>ZigBee Alliance membership is required in order to ship ZigBee technology in products. 
Alliance membership provides early access to specifications.  </b></div>
 <div class="alert alert-info" role="alert"><b>ZigBee covers many markets, including home, commercial and 
industrial automation, medical and location-based services. </b></div>
 <div class="alert alert-info" role="alert"><b>A ZigBee Coordinator (ZC), which is used to form the network, a 
ZigBee Router (ZR) which can route packets, and a ZigBee End-Device (ZED), which 
can sleep and go into low-power modes.</b></div>
 <div class="alert alert-danger" role="alert"><b>ZigBee Architecture</b>
 <br><img src="img/zigbee.png" alt="ZigBee architecture" style="width:604px;height:428px"></br></div>
 <div class="alert alert-danger" role="alert"><b>Addressing within ZigBee includes all of the following components: 
 <ul>
	<li>PAN  ID  (MAC) </li>
	<li>NwkAddr  (NWK) </li>
	<li>Endpoint  (APS) </li>
	<li>Profile  ID  (APS) </li>
	<li>Cluster  (APS) </li>
<li>Command  and/or  attribute  (ZCL)</li>
 </b></div>
 </div>